<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png"
        href="https://res.cloudinary.com/sapiangroup/image/upload/f_auto,q_auto,w_64/v1605182043/flash-group-news/FGN_logo_bis_flash-group-news.svg" />
    <title>FGN Report: Login</title>


    <style>
        @import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300&family=Montserrat:wght@200;300&display=swap");

        body {
            color: white;
            font-family: "Heebo", sans-serif !important;
            font-weight: 100;
            background: rgb(144, 19, 254);
            background: linear-gradient(180deg, rgba(144, 19, 254, 1) 0%, rgba(9, 9, 9, 1) 87%, rgba(9, 9, 9, 1) 87%);
        }

        button {
            border: none;
            background: rgb(144, 19, 254);
            color: white;
            border-radius: 4px;
            cursor: pointer;
            margin-top: 2rem !important;
            transition: .3s;
        }

        button:hover {
            background: rgb(125, 16, 221);
        }

        main {
            text-align: center;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100vh;
            justify-content: center;
            align-items: center;
        }

        input {
            width: 320px;
            margin-top: 5px;
            padding: 12px;
            font-size: 16px;
            border: none;
            font-size: 16px;
            outline: none;
        }

        button {
            width: 100%;
            margin-top: 5px;
            padding: 12px;
            font-size: 16px;
        }
    </style>
</head>

<body>
    <main>
        <div>
            <img src="https://res.cloudinary.com/sapiangroup/image/upload/v1605181681/flash-group-news/FGN_logo_flash-group-news.svg"
                alt="">
        </div>
        <h2>FLASHGROUP NEWS MONTHLY NEWS REPORT</h2>
        <form action="/auth" method="POST">
            <div>
                <input type="text" name="username" id="username" placeholder="Username">
            </div>
            <div>
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
            <div>
                <button type="submit">Log in</button>
            </div>
        </form>
    </main>
</body>

</html>