@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300&family=Montserrat:wght@200;300&display=swap");
::-webkit-scrollbar {
  width: 0.25rem;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #8e2cf9;
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

.sec-1 {
  background-image: url("https://res.cloudinary.com/sapiangroup/image/upload/v1605181402/flash-group-news/BG_flash-group-news.png");
  background-size: cover;
  min-height: 60vh;
  color: white;
}

.sec-1 #fgn_img {
  text-align: center;
}

.sec-1 #fgn_img img {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .sec-1 #fgn_img img {
    width: auto;
  }
}

.sec-1 #up_text {
  font-family: "Montserrat", sans-serif;
}

.sec-1 #up_text h3 {
  display: inline;
}

.sec-1 .news_report_parent {
  height: 80vh !important;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.sec-1 .news_report_parent .news_report {
  background-color: #8e2cf9;
  height: 25vh;
}

.sec-1 .news_report_parent .news_report h1 {
  font-size: 50px;
}

h5 {
  font-weight: 300;
}

h5::after {
  content: "";
  display: block;
  width: 60px;
  margin-top: 5px;
  height: 2px;
  border-radius: 10px;
  background-color: white;
}

.pink-text {
  color: #db1753;
}

.green-text {
  color: #00fc15;
}

.bottom-line {
  display: block;
  border-radius: 0 0 8px 8px;
  height: 10px;
}

.line-green {
  background-color: #32ff76;
}

.line-pink {
  background-color: #db1753;
}

.sec-2 {
  background-color: #080809;
  color: white;
}

.sec-2 h5::after {
  background-color: #8e2cf9 !important;
}

.sec-2 .big_d {
  background-color: #1d1e20;
  border-radius: 8px;
}

.sec-2 .big_d .sha {
  width: 200px;
  background-color: #2d2e30;
  border-radius: 8px 0 8px 0;
}

.sec-2 .big_d .btc {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 4rem;
}

.sec-2 .small-d {
  background-color: #1d1e20;
  border-radius: 8px;
}

.sec-2 .small-d .ftext {
  font-family: "Montserrat", sans-serif;
}

.sec-2 .small-d p {
  font-size: 1.25rem;
}

.sec-2 .green-btns a {
  display: inline;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.sec-2 .green-btns a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.sec-2 .coin-tokens {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.sec-2 .coin-tokens a {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.sec-2 .coin-tokens a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.sec-2 .coin-tokens .ct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border-radius: 5%;
}

.sec-2 .coin-tokens .ct span {
  margin: auto 0 !important;
  padding: 25px;
  text-align: center;
}

.sec-2 .coin-tokens .green {
  background-color: #32ff76;
  color: black !important;
}

.sec-2 .coin-tokens .pink {
  background-color: #db1753;
  color: white !important;
}

@media screen and (max-width: 576px) {
  .sec-2 .coin-tokens {
    -ms-grid-rows: (1fr)[3] !important;
        grid-template-rows: repeat(3, 1fr) !important;
    -ms-grid-columns: (1fr)[3] !important;
        grid-template-columns: repeat(3, 1fr) !important;
    justify-items: center;
  }
  .sec-2 .coin-tokens .last {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

@media screen and (max-width: 768px) {
  .sec-2 .coin-tokens {
    -ms-grid-rows: (1fr)[3] !important;
        grid-template-rows: repeat(3, 1fr) !important;
    -ms-grid-columns: (1fr)[3] !important;
        grid-template-columns: repeat(3, 1fr) !important;
    justify-items: center;
  }
  .sec-2 .coin-tokens .last {
    -ms-grid-column: 2;
    grid-column: 2;
  }
}

.sec-3 {
  color: white;
}

.sec-3 .top-row {
  background-color: #8e2cf9;
  height: 80vh;
}

@media screen and (max-width: 768px) {
  .sec-3 .top-row {
    height: 30vh !important;
  }
}

@media screen and (max-width: 576px) {
  .sec-3 .top-row {
    height: 50vh !important;
  }
}

.sec-3 .top-row img {
  width: 50%;
}

@media screen and (max-width: 576px) {
  .sec-3 .top-row img {
    width: 25% !important;
  }
}

.sec-3 .bottom-row {
  height: calc(5vh + 180px);
}

@media screen and (max-width: 768px) {
  .sec-3 .bottom-row {
    height: calc(20vh + 120px);
  }
}

@media screen and (max-width: 576px) {
  .sec-3 .bottom-row {
    height: 20vh;
  }
}

.sec-3 .img-div {
  background: url("https://res.cloudinary.com/sapiangroup/image/upload/v1605204988/flash-group-news/picture-c_flash-group-news.png") no-repeat;
  background-size: cover;
  height: 600px;
}

@media screen and (max-width: 576px) {
  .sec-3 .img-div {
    height: 350px;
  }
}

@media screen and (max-width: 768px) {
  .sec-3 .img-div {
    height: 300px;
  }
}

.sec-3 .img-div h3 {
  font-size: 3rem;
  font-weight: bolder;
}

.sec-3 .img-div h4 {
  font-size: 2.5rem;
  font-weight: bolder !important;
}

@media screen and (max-width: 576px) {
  .sec-3 .img-div h3 {
    font-size: 1.5rem !important;
  }
  .sec-3 .img-div h4 {
    font-size: 1.25rem !important;
  }
}

@media screen and (max-width: 768px) {
  .sec-3 .img-div h3 {
    font-size: 1.5rem !important;
  }
  .sec-3 .img-div h4 {
    font-size: 1.25rem !important;
  }
}

.sec-3 img {
  width: 50%;
}

.sec-3 h5 {
  font-size: 1.5rem;
}

.sec-3 p {
  font-size: 1.5rem;
  font-weight: bold;
}

.sec-4 .coin-img img {
  width: 4rem;
}

.sec-4 .topic {
  background-color: rgba(142, 44, 249, 0.2);
  height: 50px;
  border-radius: 5px;
}

.sec-4 .topic .box {
  width: 20px;
  height: 20px;
  background-color: #8e2cf9;
}

.sec-4 .topic .topic-text {
  color: #8e2cf9;
}

.sec-4 .news-feed {
  -webkit-transition: height .3s ease-in-out !important;
  transition: height .3s ease-in-out !important;
}

.sec-4 button {
  background: none;
  outline: none;
  border: none;
  color: #8e2cf9;
  font-size: 14px;
  font-weight: 600;
}

.sec-4 .arrow {
  width: 14px;
  height: 14px;
}

.sec-4 .market-overview {
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.08);
          box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.08);
}

.sec-4 .market-overview .price {
  font-weight: 600;
}

.sec-4 .market-overview .currency-btn-set .currency-btn {
  -webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2), -1px -1px 5px 0 rgba(255, 255, 255, 0.5);
          box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2), -1px -1px 5px 0 rgba(255, 255, 255, 0.5);
  border-radius: 2px;
  margin-left: 4px;
  padding: 1rem;
  color: black;
  font-weight: bold;
  margin-top: 5px;
}

.sec-4 .market-overview .currency-btn-set .selected-btn {
  -webkit-box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, 0.2), inset -1px -1px 5px 0 rgba(255, 255, 255, 0.5);
          box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, 0.2), inset -1px -1px 5px 0 rgba(255, 255, 255, 0.5);
}

.sec-4 .market-overview .main-content {
  background-color: #fafafa;
}

.sec-4 .market-overview .main-content p {
  font-size: 1.1rem;
}

.sec-4 .market-overview .sub-content .bold-val {
  font-weight: bolder;
}

.sec-4 .market-overview .sub-content span {
  display: inline-block;
  font-size: 14px;
  margin: 1rem 0 !important;
}

.sec-4 .market-overview .sub-content .colored-row {
  background-color: rgba(142, 44, 249, 0.2);
}

.sec-5 .newsheader img {
  width: 50%;
}

@media screen and (max-width: 576px) {
  .sec-5 .newsheader img {
    width: 25% !important;
  }
}

.sec-5 .newsheader h5 {
  font-weight: 300;
}

.sec-5 .newsheader h5::after {
  background-color: #8e2cf9 !important;
}

.sec-5 .newsbody h6 {
  font-weight: bolder;
}

.sec-5 .newsbody img {
  width: 75%;
}

@media screen and (max-width: 576px) {
  .sec-5 .newsbody img {
    width: 100% !important;
  }
}

footer {
  background-color: #080809;
  color: white;
}

footer a {
  margin-left: 10px;
  color: white !important;
}

footer ul {
  list-style: none;
}

footer h4 {
  font-weight: 300;
}

footer select {
  background-color: #080809;
  border: none;
  color: white;
}

.slider-parent {
  width: 320px;
  height: 360px;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .slider-parent {
    width: 100%;
    height: 250px;
    overflow-x: hidden;
  }
}

.slider-parent .slider {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-perspective: 100;
          perspective: 100;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.slider-parent .slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  -webkit-box-shadow: 4px 0 15px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 0 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  color: white;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background-color: #b3b3b3;
  background-position: center;
  background-size: cover;
}

.slider-parent .slider .slide:nth-child(1) {
  z-index: 3;
}

.slider-parent .slider .slide:nth-child(2) {
  z-index: 2;
  -webkit-transform: translate3d(50px, 20px, -15px);
          transform: translate3d(50px, 20px, -15px);
}

.slider-parent .slider .slide:nth-child(3) {
  z-index: 1;
  -webkit-transform: translate3d(100px, 40px, -30px);
          transform: translate3d(100px, 40px, -30px);
}

.slider-parent .next {
  position: absolute;
  bottom: 20%;
}

@-webkit-keyframes slide {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(-30px);
            transform: translateZ(-30px);
  }
}

@keyframes slide {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(-30px);
            transform: translateZ(-30px);
  }
}
/*# sourceMappingURL=style.css.map */