@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300&family=Montserrat:wght@200;300&display=swap");
@import "mixings";

$bg: #080809;
$accent: #8e2cf9;
$paccent: #db1753;
$gaccent: #00fc15;
$br: 8px;
$Montserrat: "Montserrat",
sans-serif;

::-webkit-scrollbar {
  width: 0.25rem;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: $accent;
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Heebo", sans-serif !important;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  cursor: pointer !important;
}

.sec-1 {
  background-image: url("https://res.cloudinary.com/sapiangroup/image/upload/v1605181402/flash-group-news/BG_flash-group-news.png");
  background-size: cover;
  min-height: 60vh;
  color: white;

  #fgn_img {
    text-align: center;

    img {
      width: 100%;
    }

    @include screen(large) {
      img {
        width: auto;
      }
    }
  }

  #up_text {
    font-family: $Montserrat;

    h3 {
      display: inline;
    }
  }

  .news_report_parent {
    height: 80vh !important;
    justify-content: flex-end;

    .news_report {
      background-color: #8e2cf9;
      height: 25vh;

      h1 {
        font-size: 50px;
      }
    }
  }
}

h5 {
  font-weight: 300;

  &::after {
    content: "";
    display: block;
    width: 60px;
    margin-top: 5px;
    height: 2px;
    border-radius: 10px;
    background-color: white;
  }
}

.pink-text {
  color: $paccent;
}

.green-text {
  color: $gaccent !important;
}

.bottom-line {
  display: block;
  border-radius: 0 0 $br $br;

  height: 10px;
}

.line-green {
  background-color: rgb(50, 255, 118);
}

.line-pink {
  background-color: $paccent;
}

.sec-2 {
  background-color: $bg;
  color: white;

  h5 {
    &::after {
      background-color: $accent !important;
    }
  }

  .big_d {
    background-color: #1d1e20;
    border-radius: $br;

    .sha {
      width: 200px;
      background-color: #2d2e30;
      border-radius: $br 0 $br 0;
    }

    .btc {
      font-family: $Montserrat;
      font-weight: bold;
      font-size: 4rem;
    }
  }

  .small-d {
    background-color: #1d1e20;
    border-radius: $br;

    .ftext {
      font-family: $Montserrat;
    }

    p {
      font-size: 1.25rem;
    }
  }

  .green-btns {
    a {
      display: inline;
      text-decoration: none;
      cursor: pointer !important;
      transition: .3s;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .coin-tokens {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;

    a {
      text-decoration: none;
      cursor: pointer !important;
      transition: .3s;

      &:hover {
        transform: scale(1.05);
      }
    }

    .ct {
      display: flex;
      justify-content: center;

      width: 100%;
      border-radius: 5%;

      span {
        margin: auto 0 !important;
        padding: 25px;
        text-align: center;
      }
    }

    .green {
      background-color: rgb(50, 255, 118);
      color: black !important;
    }

    .pink {
      background-color: $paccent;
      color: white !important;
    }

    @include screen(small) {
      grid-template-rows: repeat(3, 1fr) !important;
      grid-template-columns: repeat(3, 1fr) !important;
      justify-items: center;

      .last {
        grid-column: 2;
      }
    }

    @include screen(medium) {
      grid-template-rows: repeat(3, 1fr) !important;
      grid-template-columns: repeat(3, 1fr) !important;
      justify-items: center;

      .last {
        grid-column: 2;
      }
    }
  }
}

.sec-3 {
  color: white;

  .top-row {
    background-color: $accent;
    height: 80vh;

    @include screen(medium) {

      height: 30vh !important;
    }

    @include screen(small) {

      height: 50vh !important;
    }

    img {
      width: 50%;

      @include screen(small) {
        width: 25% !important;
      }
    }
  }

  .bottom-row {
    height: calc(5vh + 180px);

    @include screen(medium) {
      height: calc(20vh + 120px);
    }

    @include screen(small) {
      height: 20vh;
    }
  }

  .img-div {
    background: url("https://res.cloudinary.com/sapiangroup/image/upload/v1605204988/flash-group-news/picture-c_flash-group-news.png") no-repeat;
    background-size: cover;
    height: 600px;

    @include screen(small) {
      height: 350px;
    }

    @include screen(medium) {
      height: 300px;
    }

    h3 {
      font-size: 3rem;
      font-weight: bolder;
    }

    h4 {
      font-size: 2.5rem;
      font-weight: bolder !important;
    }

    @include screen(small) {
      h3 {
        font-size: 1.5rem !important;
      }

      h4 {
        font-size: 1.25rem !important;
      }
    }

    @include screen(medium) {
      h3 {
        font-size: 1.5rem !important;
      }

      h4 {
        font-size: 1.25rem !important;
      }
    }
  }

  img {
    width: 50%;
  }

  h5 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.sec-4 {
  .coin-img {
    img {
      width: 4rem;
    }
  }

  .topic {
    background-color: rgba($color: $accent, $alpha: 0.2);
    height: 50px;
    border-radius: 5px;

    .box {
      width: 20px;
      height: 20px;
      background-color: $accent;
    }

    .topic-text {
      color: $accent;
    }
  }

  .news-feed {
    transition: height .3s ease-in-out !important;
  }

  button {
    background: none;
    outline: none;
    border: none;
    color: $accent;
    font-size: 14px;
    font-weight: 600;
  }

  .arrow {
    width: 14px;
    height: 14px;
  }

  .market-overview {
    box-shadow: 1px 1px 10px 1px rgba($color: #000000, $alpha: 0.08);

    .price {
      font-weight: 600;
    }

    .currency-btn-set {

      .currency-btn {
        box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2),
          -1px -1px 5px 0 rgba(255, 255, 255, 0.5);
        border-radius: 2px;
        margin-left: 4px;
        padding: 1rem;
        color: black;
        font-weight: bold;
        margin-top: 5px;
      }

      .selected-btn {
        box-shadow: inset 1px 1px 5px 0 rgba(0, 0, 0, 0.2),
          inset -1px -1px 5px 0 rgba(255, 255, 255, 0.5);
      }
    }

    .main-content {
      background-color: #fafafa;

      p {
        font-size: 1.1rem;
      }
    }

    .sub-content {

      .bold-val {
        font-weight: bolder;
      }

      span {
        display: inline-block;
        font-size: 14px;
        margin: 1rem 0 !important;
      }

      .colored-row {
        background-color: rgba(142, 44, 249, 0.2)
      }
    }
  }

}

.sec-5 {
  .newsheader {
    img {
      width: 50%;

      @include screen(small) {
        width: 25% !important;
      }
    }

    h5 {
      font-weight: 300;

      &::after {
        background-color: $accent !important;
      }
    }
  }

  .newsbody {
    h6 {
      font-weight: bolder;
    }

    img {
      width: 75%;

      @include screen(small) {
        width: 100% !important;
      }
    }
  }
}

footer {
  background-color: $bg;

  color: white;

  a {
    margin-left: 10px;
    color: white !important;
  }

  ul {
    list-style: none;
  }

  h4 {
    font-weight: 300;
  }

  select {
    background-color: $bg;
    border: none;
    color: white;
  }
}

.slider-parent {
  width: 320px;
  height: 360px;
  min-height: fit-content;
  // background-color: rgb(179, 179, 179);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @include screen(small) {
    width: 100%;
    height: 250px;
    overflow-x: hidden;
  }

  .slider {
    align-self: center;
    width: 100%;
    height: 100%;
    // background-color: #111;
    position: relative;
    perspective: 100;
    transform-style: preserve-3d;

    .slide {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 2px;
      box-shadow: 4px 0 15px rgba($color: #000000, $alpha: 0.2);
      width: 100%;
      height: 100%;
      color: white;
      transition: transform 0.3s ease-in-out;
      transform-style: preserve-3d;
      background-color: rgb(179, 179, 179);
      background-position: center;
      background-size: cover;

      &:nth-child(1) {
        z-index: 3;
      }

      &:nth-child(2) {
        z-index: 2;
        transform: translate3d(50px, 20px, -15px);
      }

      &:nth-child(3) {
        z-index: 1;
        transform: translate3d(100px, 40px, -30px);
      }
    }
  }

  .next {
    position: absolute;
    bottom: 20%;
  }

  @keyframes slide {
    0% {
      opacity: 1;
      transform: translateX(0);
    }

    50% {
      opacity: 1;
      transform: translateX(400px);
    }

    100% {
      opacity: 1;
      transform: translateZ(-30px);
    }
  }
}

// @import 'media';